*{
    margin: 0;
}
@import url(https://fonts.googleapis.com/css?family=Manrope);
body{
    font-family: 'Manrope', sans-serif;
}

.cover{
        height: 100%;
        width: 100%;
        background-color:  hsl(218, 23%, 16%);
        display: flex;
        justify-content: center;
        position: fixed;
        overflow: scroll;
}
.box{
    background-color: hsl(217, 19%, 24%);
    width: 800px;
    height: 600px;
    border-radius: 18.6px;
    box-shadow: 0px 1px 200px 0px rgba(0, 0, 0, 0.185);
    margin-top: 40%;
}
.fest{
    color:hsl(150, 100%, 66%) ;
    text-align: center;
    margin-top: 10%;
    font-size: xx-large;
    letter-spacing: 7px;
}
.maintext{
    text-align: center;
    color: hsl(193, 38%, 86%) ;
    font-weight: 700;
    font-size: 310%;
    width: 84%;
    margin: auto;
    margin-top: 8%;
    margin-bottom: 6.4%;
    line-height: 70px;
}
.line{
    display: flex;
    justify-content: center;
}
.lin{
    width: 80%;
}
.circle{
    height: 126px;
    width: 126px;
    background-color:hsl(150, 100%, 66%) ;
    border-radius: 63px;
    margin: auto;
    position: absolute;
    left: 43.5%;
    margin-top: 55%;
}
.circle:hover{
    box-shadow: 1px 1px 34px 4px hsl(150, 100%, 66%) ;
}
.dic{
    margin-left: 25%;
    margin-top: 25%;
    height: 50%;
}

